@import "partials/base";

// Static only, do not migrate to final:

body {
	padding: 0 20px;
	font-size: 16px;
	line-height: 1.5em;
	font-family: $type-body;
}

// Skift Quiz styling

$green: #48ce36;
$red: #ce3636;

.skift-quiz {
	max-width: 500px;
	ul {
		list-style: none;
		padding-left: 0;
	}
	.title {
		font-family: $type-display;
		border-bottom: 1px solid $gray9;
		font-size: 2em;
		line-height: 1.25em;
		padding: .5em 0;
		margin: 0;
	}
	.pager {
		font-size: .825em;
		color: $gray9;
		float: right;
	}
	.question {
		font-size: 1.5em;
	}
	.question-image {
		width: 100%;
		height: auto;
	}
	.choices-block {
		a.choice {
			margin: 1em 0;
			display: block;
			text-decoration: none;
			color: $black;
			clear: both;
			img {
				// use susy styling to place this; hiding for now
				display: none;
			}
			span.box {
				font-family: sans-serif;
				display: inline-block;
				font-size: 1.5em;
				line-height: 1em;
				margin-right: .25em;
				&.checked {
					color: $blue;
				}
				&.correct {
					color: $green;
				}
				&.incorrect {
					color: $red;
				}
			}
		}
	}
	.submit {
		.submit-button {
			@include cta;	
		}
	}
}

// body {
// 	margin: 20px;
// 	font-size: 16px;
// }

// h1, h2 {
// 	font-weight: normal;
// }

// h1 {
// 	border-bottom: 1px solid $gray9;
// 	text-align: left;
// 	font-size: 2em;
// 	font-family: $type-display;
// }

// h2 {
// 	margin: 20px 0;
// 	font-size: 1.5em;
// 	font-family: $type-body;
// }

// img {
// 	.question-image {
// 		display: block;
// 		margin: 10px auto;
// 		max-width: 250px;
// 		width: 100%;
// 		height: auto;
// 		border: 1px solid $grayC;
// 	}
// }

#personality-quiz {

	li {
		@include cta;
	}

	ol, ul {
		list-style: none;
		padding-left: 0;
	}

	p.pager {
		margin: 5px 0;
		font-family: $type-body;
		color: $midgray;
	}

	strong {
		font-weight: 700;
	}



	#choice-block {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#explanation {
		position:  relative;
		left:  0px;
		z-index:  -1;
		display:  inline-block;
		float: left;
		overflow: hidden;
		margin: 3px;
		padding: 0 0 20px 0;
		width:  400px;
		height:  100%;
		height:  800px;
		background: $lightyellow;
		text-align:  center;
		font-size:  1.3em;
		line-height:  1.3;
	}

	#frame {
		width:  600px;
		background:  #FFE099;
		padding:  10px;
		margin:  3px;
		position:  absolute;
		left:  0;
		height:  800px;
	}

	#submitbutton {
		@include cta;
		clear: both;
		float: left;
		cursor:  pointer;
		text-align:  center;
	}

	.choice-box {
		width: auto;
		text-align: center;
		margin: 5px auto;
		clear: both;
		cursor: pointer;
	}

	// .choice-box {
	// 	float: left;
	// 	display: block;
	// 	max-width: 300px;
	// 	width: auto;
	// 	text-align: center;
	// 	margin: 5px auto;
	// 	clear: both;
	// 	cursor: pointer;
	// }

	.picture {
	  width: 200px;
	}

	.results {
		text-align: center;
		font-size: 7em;
	}

	// .picked {
	// 	border-color: #222;
	// 	// font-weight: 700;
	// 	background-color: rgb(250, 174, 0);
	// }

}


